<html>
    <head>
        <title>Automatisation FSDA</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link rel="stylesheet" href="/static/dsfr/dsfr.min.css">
        <script src="/static/jquery-3.7.0.min.js"></script>
        <meta name="theme-color" content="#000091">
        <link rel="apple-touch-icon" href="/static/dsfr/favicon/apple-touch-icon.png">
        <link rel="icon" href="/static/dsfr/favicon/favicon.svg" type="image/svg+xml">
        <link rel="shortcut icon" href="/static/dsfr/favicon/favicon.ico" type="image/x-icon">
        <link rel="manifest" href="/static/dsfr/favicon/manifest.webmanifest" crossorigin="use-credentials">
    </head>
    <body>
        <header role="banner" class="fr-header">    
            <div class="fr-header__body">        
                <div class="fr-container">            
                    <div class="fr-header__body-row">                
                        <div class="fr-header__brand fr-enlarge-link">                    
                            <div class="fr-header__brand-top">                        
                                <div class="fr-header__logo">                            
                                    <p class="fr-logo">                                
                                        République                               
                                        <br>Française                           
                                    </p>                        
                                </div>                    
                            </div>                    
                            <div class="fr-header__service">    
                                <a href="/reset_progress" title="Réinitialiser - Automatisation FSDA" id="reset-button">
                                    <p class="fr-header__service-title">Automatisation FSDA</p>                        
                                </a> 
                                <p class="fr-header__service-tagline">
                                    Mise à jour automatique du fichier de suivi
                                </p>                    
                            </div>                
                        </div>            
                    </div>        
                </div>    
            </div>
        </header>
        <div class="fr-alert fr-alert--error alert-style">
            <h3 class="fr-alert__title">Erreur</h3>    
            <p>Un ou plusieurs fichiers sont manquants. Veuillez importer les fichiers requis.</p>
        </div>
        <script src="/static/main.js"></script>
        <script type="module" src="dsfr/dsfr.module.min.js"></script>
        <script type="text/javascript" nomodule src="dsfr/dsfr.nomodule.min.js"></script>
    </body>
</html>